.experience-card {
  background-color: #222738;
  border-radius: 4em;
  display: flex;
  flex-direction: row;

  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
  
  overflow: hidden;

  /* height: auto; */
}

.experience-card-left {
  width: 80%;
}

.experience-card-left-header {
  margin-bottom: 2em;
}

.experience-card-left-header h2 {
  font-size: 2.5em;
}

.experience-card-left-inner {
  padding: 1em 1em;
}

.experience-card-left-content {
  margin-top: 1em;
  font-size: 1.5em;
  /* padding-bottom: 1em; */
}

.experience-card-right {
  background-color: #5c6379;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20%;
}

.experience-card-right img {
  max-width: 300px;
  max-height: 200px;
  height: auto;
  padding: 2em 2em;
}

@media (max-width: 1200px) {
  .experience-card {
    flex-direction: column-reverse;
  }

  .experience-card-left,
  .experience-card-right {
    width: 100%;
  }

  .experience-card-left-header {
    height: auto;
  }

  .experience-card-right img {
    margin: 2em 2em;
  }
}